@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
  margin: 0px;
  padding: 0px 30px;
  background: #000;
  color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
}

body * {
  box-sizing: border-box;
}

#title {
  padding-top: 30px;
  font-size: 6rem;
  text-align: center;
}

#main {
  padding-top: 20px; 
  font-size: 4rem;
  text-align: center;
}

#buttonBox {
  padding-top: 15px;
  text-align: center;
}

#executeButton {
  background-color: #fd6325;
  color: #fff;
  padding: 10px 10px;
  font-size: 1.5rem;
  border: none;
  cursor: alias;
}

#myInput{
  padding: 10px 10px;
  font-size: 1.5rem;
}

#resultBox {
  padding-top: 30px;
  font-size: 3rem;
  text-align: center;
}

hr {
  height: 5px;
  border: none;
  margin: 0;
  padding: 0;
}

